# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_STORE

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# Next.js build output
.next
.vercel

# Preconstruct build output
dist

# Docs
design-system/docs/generated
design-system/docs/public/playroom
design-system/docs/public/storybook

# pagefind
docs/public/pagefind

# Test coverage
coverage

# Contentlayer
.contentlayer

# VSCode settings
.vscode/settings.json

l10n.js
l10n.d.ts
packages/keystatic/src/app/l10n/index.js
packages/keystatic/src/app/l10n/index.d.ts
