html {
  max-width: 100vw;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 1rem;
}

p,
ul,
ol {
  margin-bottom: 1rem;
  color: #1d1d1d;
}

img {
  height: auto;
  max-width: 100%;
}
