name: CI

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: tests-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - uses: ./.github/actions/setup-deps

      - name: Unit tests
        run: yarn test:unit --ci --runInBand

  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - uses: ./.github/actions/setup-deps

      - name: Prettier
        run: pnpm check:format

      - name: ESLint
        run: pnpm check:lint

      - name: TypeScript
        run: pnpm check:types
